html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding-left: 100px;
    padding-right: 100px;
    cursor: pointer;
    
}

h3,p{
    color: white;
}

.agaerre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agaerre h1{
    margin: 0;
}

.hrum{
    visibility: visible;
    width: 20px;
}

.hrum-liga{
    visibility: hidden;
}

.hrdois,.hrtres,.hrquatro{
    visibility: hidden;
}

.hrdois-liga,.hrtres-liga,.hrquatro-liga{
    visibility: visible;
    width: 20px;
}

.containerCima{
    width: 100vw;
    height: 100vh;
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0);
    height: 80px;
    transition: all 0.5s;
}

.container{
    width: 1920px;
    height: 1000px;
}

#vava{
    height: 70px;
}

#imagemExemplo{
    width: 1920px;
    height: 1000px;
}

#textoValorant{ 
    display: flex;
    text-align: center;
    margin: 0;
    padding: 25% 10% 20% 10%;
    color: white;  
}

.paraTexto{
    background-color: #363636;
    width: 1920px;
    height: 1000px;
}

.fade-out{
    margin: 0;
    opacity: 0;
}

.desce-foda{
    transition: all 0.5s;
    background-color: black;
    height: 70px;
}

.personagens{
    padding: 10%;
    background-color: #363636;
}

.habilidades{
    text-align: center;
}

#perso{
    border: 40px solid;
    border-image: linear-gradient(315deg, rgb(216, 79, 0) 3%, rgb(139, 10, 224) 38%, rgb(233, 86, 1) 68%, rgb(240, 45, 11) 98%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#cadaum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0% 10% 0%;
}