:root{
    --aguaFoda: rgb(15, 25, 35); 
    --hidroxidodeCarboneto: rgb(28, 28, 28);

}

html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

video{
    margin: 0;
    padding: 0;
}

.containerCima h1{
    padding-left: 100px;
    padding-right: 100px;

}

h3,p{
    color: white;

}


.agaerre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.agaerre h1{
    margin: 0;

}

.container{
    background-color: var(--aguaFoda);
    z-index: -1;
    height: auto;
    margin: 0;
    padding: 0;
}

.hrum{
    visibility: visible;
    width: 20px;

}

.hrum-liga{
    visibility: hidden;

}

.hrdois,.hrtres,.hrquatro{
    visibility: hidden;

}

.hrdois-liga,.hrtres-liga,.hrquatro-liga{
    visibility: visible;
    width: 20px;

}

.containerCima{
    z-index: 1;
    width: 100%;
    height: 100vh;
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0);
    height: 80px;
    transition: all 0.5s;

}

.back{
    width: 1920px;
    height: 1080px;

}

#vava{
    height: 70px;

}

#textoValorant{ 
    display: flex;
    padding: 25% 10% 30% 10%;
    color: white;  
    transition: opacity 0.3s;
    font-size: 1.2em; 
    line-height: 1.6; 
    text-align: center; 
    margin: 0px auto; 
    max-width: 800px;

}

.paraTexto{
    background-color: rgb(15, 25, 35);
    height: 1000px;

}

.fade-out{
    margin: 0;
    opacity: 0;

}

.desce-foda{
    transition: all 0.5s;
    background-color: var(--hidroxidodeCarboneto);
    height: 70px;

}

.personagens{
    width: 100%;
    background-color: var(--aguaFoda);
    
}

.personagem{
    width: 100%;

}

.perso {   
    width: 200px;
    height: 200px;
    cursor: pointer;
    padding: 5px;             
    border: 5px solid transparent;
    border-radius: 50%;      
    box-sizing: border-box;    
    animation: borderAnimation 3s linear infinite;

} 

#cadaum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 150px 0px 100px 0px;

}

#displayIcon{
    width: 100px;
    height: 100px;
    padding: 0% 5%  5% 5%;
    justify-content: center;

}

#ability-icon{
    display: inline-block;
    width: 60px;
    padding: 1%;

}

.habilidades{
    display: none;
    justify-content: center;
    gap: 70px;
    text-align: center;
    scroll-behavior: smooth;
  
}

#edu{
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

#agua{
    width: 100px;
    height: 100px;

}

.sobremim{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 25, 35);
    padding-top: 200px;
    padding-bottom: 200px;

}

.habilidades{
    padding-bottom: 100px;

}

#eu{
    color: white;

}

#links{
    display: flex;

}
 
#feijoada,#queimada{
    display: flex;
    align-items: center;
    flex-direction: column;

}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;

}

@keyframes borderAnimation {
    0% {
        border-color: red;

    }
    25% {
        border-color: green;

    }
    50% {
        border-color: blue;

    }
    75% {
        border-color: yellow;

    }
    100% {
        border-color: red;

    }
}